.vscode/
Binaries/
Cache/
Output/
References/
Logs/
NuGets/

omnisharp.json
FlaxSave.sln
FlaxSave.code-workspace
FlaxSave.sln.DotSettings.user

Source/Game/
Source/Properties/
Source/obj/
Source/FlaxSave/DiskUtilities/
Source/*.Gen.cs
Source/*.csproj

ImagesWIP/
Icon/