.vscode/
Binaries/
Cache/
Output/
References/
Logs/
NuGets/
Source/Game/
Source/Properties/
Source/obj/
Source/FlaxSave/DiskUtilities/
omnisharp.json
FlaxSave.sln
FlaxSave.code-workspace
FlaxSave.sln.DotSettings.user
Source/Game.Gen.cs
Source/Game.csproj